/bin/*
/build/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/src/minecraft/*
!/src/minecraft/berryh/

*.bat
*.sh
*.exe
*.au3
*.txt